@{
    ViewBag.Title = "Financial Resources";
}
<!DOCTYPE html>

<html lang="en">

<head>

    <title>
        Financial Resources

    </title>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">



    <link rel="stylesheet" href="Content/style.css" />
</head>
<body>
    <div id="container">


        <h1><span>Financial Resources Page</span></h1>
        <h2>A handbook to all your banking queries</h2>

        <h3>Parent Resources</h3>


        <a href="https://www.nerdwallet.com/blog/banking/opening-child-first-bank-account/" target="_blank"><span>Opening your Child's first bank account</span></a>
        <br>
        <a href="http://www.thesimpledollar.com/bank-account-for-kids/" target="_blank"><span>Choosing Bank account for your kid</span></a>
        <br>
        <a href="https://www.bankofamerica.com/deposits/manage/best-savings-accounts-for-kids.go" target="_blank"><span>The value of savings account for your kid</span></a>
        <br>
        <h3>Child Resources</h3>
        <a href="http://www.themint.org/kids/how-banks-work.html" target="_blank"><span>How Banks work</span></a>
        <br>
        <a href="https://www.bankofamerica.com/deposits/manage/money-management-for-teens.go" target="_blank"><span>Money Management for teens</span></a>

    </div>

</body>
</html>